*
{
    margin: 0;
    padding: 0;
}
/*Remove white on the back of the page*/
html{
    background: #2c262f;
}

/* html,
body
{
    overflow: hidden;
} */

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
#MP{
   position: absolute;

}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}
.me{
    font-size: 15px;
    padding-bottom: 60%;
    padding-right: 30%;
    
}
#description{
    position: absolute;
    padding-top: 7%;
    padding-left: 0.5%;
    font-size: 2vmin;
    color: aqua;
}
.links{
    position: absolute;
    padding-top: 8%;
    padding-left: 1%;
    font-size: 2vmin;
    color: aqua;
    list-style-type: none;
}

a{
    color: azure;
    text-decoration: none;
}
li{
    display: inline;
    padding-right: 8%;
    
}

section:nth-child(odd)
{
    justify-content: flex-end;
}